:root {
  --main-green: #0e7c0c;
  --dark-green: #004632;
  --light-green: #a5ff96;
  --light-grey: #dbdbdb;
  --lighter-grey: #f9f9f9;
  --error-red: #f00;
  --light-error-red: #fff6f6;
  --blue-grey: #d2dfdb;
  --nordic-green: #e9f0ee;
  --lighter-purple: #e6edf9;
  --deep-purple: #523ffe
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6edf9 !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
