.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1em;
}

.row {
    display: flex;
    gap: 15px;
    align-items: center;
    transition: height 0.5s ease-in-out;
}

.hidden {
    height: 0;
}

.item {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    overflow: hidden;
}

.pageTop {
    display: flex;
    justify-content: space-between;
}