.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2em;
    max-width: 100vw;
}

.row {
    display: flex;
    gap: 15px;
    align-items: center;
    min-height: 150px;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    /* width: 100%; */
}


.item {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    overflow: hidden;
}

.pageTop {
    display: flex;
    justify-content: space-between;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    flex-direction: column;
    gap: 20px;
}