.row {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  
  .rowInactive {
    display: flex;
    align-items: center;
    gap: 1em;
    opacity: 0.25;
  }
  
  .activeLogo,
  .inactiveLogo {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 5em;
    width: 5em;
    border-radius: 20px;
    border: 2px solid transparent
  }
  
  .activeLogo {
    background-color: var(--light-green);
  }
  
  .inactiveLogo {
    background-color: var(--lighter-grey)
  }

  .activeLogo:hover,
  .inactiveLogo:hover {
    border: 2px solid black
  }
  
  
  .companyLogo {
    height: 3em;
    width: 3em;
  }