.item {
    display: flex;
    flex-direction: column;
    min-height: 220px;
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    overflow: hidden;
    max-width: 100%;
    flex-grow: 1;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
    justify-content: center;
}